<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent"
    >
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500"
                        >ServyViajes</a
                    >
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon
                        class="icon-size-5 text-secondary"
                        [svgIcon]="'heroicons_mini:chevron-right'"
                    ></mat-icon>
                    <a class="ml-1 text-primary-500">Categoría</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2
                    class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate"
                >
                    Categoría
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <!-- Title and action buttons -->
        <div class="flex items-center justify-between w-full">
            <div>
                <h2 class="text-3xl font-semibold tracking-tight leading-8">
                    Editar categoría
                </h2>
            </div>
            <div class="flex items-center ml-6">
                <button
                    class="hidden sm:inline-flex ml-3"
                    [routerLink]="['/categories']"
                    mat-flat-button
                    [color]="'primary'"
                >
                    <mat-icon
                        class="icon-size-5"
                        svgIcon="heroicons_solid:arrow-left"
                    ></mat-icon>
                    <span class="ml-2">Regresar</span>
                </button>
            </div>
        </div>

        <form class="mt-8" [formGroup]="createForm" #signUpNgForm="ngForm">
            <!-- start card -->
            <div class="mat-elevation-z8 mt-8">
                <div
                    class="flex flex-col p-4 pb-4 bg-card rounded-2xl shadow overflow-hidden"
                >
                    <!-- Datos generales de la categoría -->
                    <div class="ml-4 font-medium tracking-tight text-secondary">
                        Datos generales de la categoría
                    </div>

                    <div class="flex mt-4">
                        <mat-form-field
                            class="flex-auto sm:pl-3 fuse-mat-dense fuse-mat-bold fuse-mat-rounded"
                        >
                            <mat-label>Ingrese una categoría</mat-label>    
                            <input
                                id="descripcion"
                                matInput
                                [formControlName]="'descripcion'"
                                maxlength="100"
                                [placeholder]="'Ingrese categoría'"
                            />
                            <mat-error
                                *ngIf="
                                    createForm
                                        .get('descripcion')
                                        .hasError('required')
                                "
                            >
                                La descripción es obligatoria
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <!-- end card -->
            </div>

            <!-- Slide  -->
            <section class="example-section mt-5">
                <mat-slide-toggle
                    [formControlName]="'estatus'"
                    class="example-margin"
                    [color]="color" 
                    (change)="cambiarEstatus($event)"                   
                >
                    Activar/Desactivar
                </mat-slide-toggle>
            </section>

            <!-- Botones -->
            <div class="flex flex-row space-x-1 mt-7 justify-end">
                <button
                    mat-flat-button
                    w-full
                    color="primary"
                    (click)="cancel()"
                >
                    Cancelar
                </button>

                <button
                    mat-flat-button
                    w-full
                    color="primary"
                    [disabled]="createForm.disabled"
                    (click)="update()"
                >
                    <span *ngIf="!createForm.disabled"> Guardar </span>
                    <mat-progress-spinner
                        *ngIf="createForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"
                    >
                    </mat-progress-spinner>
                </button>
            </div>
        </form>
    </div>
</div>
