.custom-mat-form-field-1 {
    width: 100% !important; /* Ajusta el ancho según tus necesidades, en este caso 50% */
}

.custom-mat-form-field-2 {
    width: 100% !important; /* Ajusta el ancho según tus necesidades, en este caso 50% */
}
.notAllowed{
    cursor: not-allowed!important;
}