<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent"
    >
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500"
                        >ServyViajes</a
                    >
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon
                        class="icon-size-5 text-secondary"
                        [svgIcon]="'heroicons_mini:chevron-right'"
                    ></mat-icon>
                    <a class="ml-1 text-primary-500">Mis eventos</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2
                    class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate"
                >
                    Mis eventos
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <!-- Title and action buttons -->
        <div class="flex items-center justify-between w-full">
            <div>
                <h2 class="text-3xl font-semibold tracking-tight leading-8">
                    Mis eventos
                </h2>                
            </div>
            <div class="flex items-center ml-6">
            </div>
        </div>

        <!-- Filter -->
        <div class="">
            <form class="flex flex-row mt-7">
                <div class="basis-1/4">
                    <mat-form-field class="flex-auto sm:pl-3 fuse-mat-dense fuse-mat-bold custom-mat-form-field-1">
                      <mat-select [(ngModel)]="categoriaFilter" [placeholder]="'Categoria'" name="categoriaFilter" (ngModelChange)="load()">
                        <mat-option *ngFor="let category of categoriesList" [value]="category.descripcion">
                          {{ category.descripcion }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>

                <div class="basis-1/4">
                    <mat-form-field                        
                        class="flex-auto sm:pl-3 fuse-mat-dense fuse-mat-bold custom-mat-form-field-1"
                    >
                        <mat-select [(ngModel)]="estatusPagoFilter" [placeholder]="'Estatus de pago'" name="estatusPagoFilter" (ngModelChange)="load()"> 
                            <mat-option value="1">
                                Acreditado
                            </mat-option>                            
                            <mat-option value="2">
                                Pendiente
                            </mat-option>       
                            <mat-option value="3">
                                Pagado
                            </mat-option>                             
                        </mat-select>                        
                    </mat-form-field>
                </div>

                <div class="basis-1/4 ml-6"></div>
                <div class="basis-1/4 ml-6">
                    <mat-form-field                        
                        class="flex-auto sm:pl-3 fuse-mat-dense fuse-mat-bold custom-mat-form-field-1"
                    >
                        <input matInput [(ngModel)]="searchText" [placeholder]="'Buscar'" name="searchText" (ngModelChange)="load()" />
                        <mat-icon
                            class="icon-size-5"
                            matSuffix
                            svgIcon="heroicons_solid:magnifying-glass"
                        ></mat-icon>
                    </mat-form-field>
                </div>
            </form>
        </div>

        <div class="overflow-x-auto">
            <table
                mat-table
                [dataSource]="dataSource"
                class="mat-elevation-z8 mt-2"
            >   
            
                <!-- Id Column -->
                <ng-container matColumnDef="id" class="w-1/4">
                    <th mat-header-cell *matHeaderCellDef>No</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.id }}
                    </td>
                </ng-container>

                <!-- Evento Column -->
                <ng-container matColumnDef="evento" class="w-1/4">
                    <th mat-header-cell *matHeaderCellDef>Evento</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.event.nombre }}                        
                    </td>
                </ng-container>
                
                <!-- monto Column -->
                <ng-container matColumnDef="monto" class="w-1/4">
                    <th mat-header-cell *matHeaderCellDef>Monto</th>
                    <td mat-cell *matCellDef="let element">
                        ${{ element.monto_total | number:'1.2-2' }}    
                    </td>
                </ng-container>


                <ng-container matColumnDef="comprobante" class="w-1/4">
                    <th mat-header-cell *matHeaderCellDef class="text-center">Comprobante</th>
                    <td mat-cell *matCellDef="let element" class="text-center">
                      <ng-container *ngIf="element.payment_proofs">
                        <button
                          mat-icon-button
                          matTooltip="Ver Comprobante"
                          aria-label="Ver Comprobante"
                          (click)="openModal(element.payment_proofs[0].nombre)"
                        >
                            <mat-icon svgIcon="heroicons_solid:document"></mat-icon>                          
                        </button>
                      </ng-container>
                      <ng-container *ngIf="!element.payment_proofs">
                        <!-- Tipo de pago no disponible -->
                      </ng-container>
                    </td>
                </ng-container>               

                <!-- Estatus de pago Column -->
                <ng-container matColumnDef="estatus_pago" class="w-1/4">
                    <th mat-header-cell *matHeaderCellDef class="text-center">
                        Estatus
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center">                                                                        
                        <div class="btn-estatus">
                            <span class="estatus_asistentes" [style.background-color]="getStatusColor(element.estatus_de_pago)">                            
                                {{ getStatusText(element.estatus_de_pago) }}                                                        
                            </span>                  
                        </div>                                   
                    </td>                    
                </ng-container>

                <!-- Acciones Column -->
                <ng-container matColumnDef="acciones" class="w-1/2">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="flex flex-row space-x-1">
                            <button
                                mat-icon-button
                                matTooltip="Basic"
                                aria-label="pencil"
                                (click)="edit(element)"
                            >
                                <mat-icon
                                    svgIcon="heroicons_mini:pencil"
                                ></mat-icon>
                            </button>

                            <!-- <button
                                mat-icon-button
                                matTooltip="Basic"
                                aria-label="up"
                            >
                                <mat-icon
                                    svgIcon="heroicons_mini:arrow-up-tray"
                                ></mat-icon>
                            </button> -->
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                ></tr>
            </table>
        </div>

        <mat-paginator
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
            aria-label="Select page of periodic elements"
        >
        </mat-paginator>
    </div>
</div>
