<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">ServyViajes</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_mini:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">Reservaciones</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Reservaciones
                </h2>
            </div>
        </div>
    </div>    
       
        <!-- Main -->
        <div class="flex-auto p-6 sm:p-10">

            <!-- Title and action buttons -->
            <div class="flex items-center justify-between w-full">
                <div>
                    <h2 class="text-3xl font-semibold tracking-tight leading-8">Crear reservación</h2>
                </div>
                <div class="flex items-center ml-6">
                    <button class="hidden sm:inline-flex ml-3" [routerLink]="['/create/reservations']" mat-flat-button
                        [color]="'primary'">
                        <mat-icon class="icon-size-5" svgIcon="heroicons_solid:arrow-left"></mat-icon>
                        <span class="ml-2">Regresar</span>
                    </button>
                </div>
            </div>

            <form class="mt-8" [formGroup]="createForm" #signUpNgForm="ngForm">

                <!-- start card -->
                <div class="mat-elevation-z8 rounded-2xl mt-8">

                    <div class="flex flex-col p-8 bg-card rounded-2xl shadow overflow-hidden">

                    
                        <!-- Invoice -->                                                                               
                        <!-- Datos generales del asistente -->
                        <div class="font-medium tracking-tight text-secondary">Datos generales del asistente</div>

                        <div class="grid grid-cols-12 gap-x-1 ">                                
                            <!-- Spacer -->
                            <div class="col-span-12 mt-5"></div>

                            <!-- CONCEPTO -->
                            <div class="col-span-10 self-center font-medium tracking-tight text-secondary">CONCEPTO</div>
                            <div class="col-span-2 text-right text-lg">Sub total</div>

                            <!-- Divider -->
                            <div class="col-span-12 my-3 border-b"></div>

                            <!-- MEDICO INCLUYE CENA -->
                            <div class="col-span-10 self-center font-medium tracking-tight text-secondary">
                                <div >Habitación de lujo</div>
                            </div>
                            <div class="col-span-2 text-right text-lg">$3000</div>                                                                

                            <!-- Divider -->
                            <div class="col-span-12 my-3 border-b"></div>

                            <!-- MENORES -->
                            <div class="col-span-10 self-center font-medium tracking-tight text-secondary">
                                <div >Menores</div>
                            </div>
                            <div class="col-span-2 text-right text-lg">$15000</div>                                                                

                            <!-- Divider -->
                            <div class="col-span-12 my-3 border-b"></div>

                            <!-- Total -->
                            <div class="col-span-10 self-center text-2xl font-medium tracking-tight text-secondary">TOTAL</div>
                            <div class="col-span-2 text-right text-2xl font-medium">4500</div>
                        </div> 
                        
                        
                        <div class="grid grid-cols-12 gap-x-1 ">    
                            <div class="col-span-6 mt-5">
                                <div class="flex-auto sm:pr-3">
                                    <mat-form-field 
                                        class="flex-auto fuse-mat-dense fuse-mat-bold fuse-mat-rounded custom-mat-form-field-1"
                                    >      
                                        <mat-label>Clave de reservación</mat-label>                              
                                        <input matInput readonly="true" [formControlName]="'clave_reservacion'" [placeholder]="'Clave de reservación'">                                                                                
                                        <!-- <mat-error *ngIf="createForm.get('clave_reservacion').hasError('required')">
                                            La fecha inicio es requerida.
                                        </mat-error>  -->
                                    </mat-form-field>                                                                                                
                                </div>  
                            </div>                            
                            <div class="col-span-6 mt-5">
                                <div class="flex-auto sm:pl-3">
                                    <mat-form-field 
                                        class="flex-auto fuse-mat-dense fuse-mat-bold fuse-mat-rounded custom-mat-form-field-1"
                                    >             
                                        <mat-label>Tipo de pago</mat-label>
                                        <mat-select placeholder="Seleccione un pago">
                                            <mat-option [value]="1">
                                                Pago
                                            </mat-option>
                                        </mat-select>    
                                    </mat-form-field>                                                                   
                                </div>
                            </div>                                                                                                                                          
                        </div>


                        <div class="mt-3">
                            <div class="font-medium">                                
                                Al registrarse se te enviará un correo confirmando tu registro, asi como los datos 
                                de pago. Una vez realizada el pago  deberás regresar al registro a subir el comprobante 
                                correspondiente.
                            </div>                                                                                        
                        </div>


                        <!-- Comprobante de pago -->
                        <div class="font-medium tracking-tight text-secondary">Comprobante de pago</div>

                        <div class="grid grid-cols-12 gap-x-1 ">    
                            <div class="col-span-6 mt-5">
                                <div class="flex-auto sm:pr-3">
                                    <mat-form-field 
                                        class="flex-auto fuse-mat-dense fuse-mat-bold fuse-mat-rounded custom-mat-form-field-1"
                                    >      
                                        <mat-label>Fecha</mat-label>                              
                                        <input matInput [formControlName]="'fecha'" [matDatepicker]="picker" [placeholder]="'Fecha'">                                    
                                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>                                        
                                    </mat-form-field>                                                                                                
                                </div>  
                            </div>                            
                            <div class="col-span-6 mt-5">
                                <div class="flex-auto sm:pl-3">
                                    <mat-form-field 
                                        class="flex-auto fuse-mat-dense fuse-mat-bold fuse-mat-rounded custom-mat-form-field-1"
                                    >             
                                        <mat-label>Monto</mat-label>                                        
                                        <input matInput type="number" [formControlName]="'monto'" [placeholder]="'Monto'">                                                                            
                                    </mat-form-field>                                                                   
                                </div>
                            </div>                                                                                                                                          
                        </div>


                        <div class="grid grid-cols-12 gap-x-1 ">    
                            <div class="col-span-6 mt-5">
                                <div class="flex-auto sm:pr-3">
                                    <mat-form-field 
                                        class="flex-auto fuse-mat-dense fuse-mat-bold fuse-mat-rounded custom-mat-form-field-1"
                                    >      
                                        <mat-label>No. de movimiento</mat-label>                              
                                        <input matInput type="number" [formControlName]="'numero_movimiento'" [placeholder]="'numero_movimiento'">                                                                                                    
                                    </mat-form-field>                                                                                                
                                </div>  
                            </div>                            
                            <div class="col-span-6 mt-10">
                                <div class="flex-auto sm:pl-3">
                                    <button                                         
                                        class="rounded-full fuse-mat-button-large w-full addFile"
                                        mat-fab extended
                                        w-full 
                                        [color]="'primary'"                                    
                                        >                                        
                                    <mat-icon [svgIcon]="'heroicons_mini:arrow-up-tray'"></mat-icon>                                    
                                        Archivo
                                    </button> 
                                </div>
                            </div>                                                                                                                                          
                        </div>


                        <div class="flex flex-col mr-3">                            
                            <table class="border-collapse border border-slate-400 ml-3 mt-5 mb-5">
                                <thead>
                                    <tr>                                        
                                        <th class="border border-slate-300">Fecha</th>
                                        <th class="border border-slate-300">Cantidad</th>
                                        <th class="border border-slate-300">Movimiento</th>                                        
                                        <th class="border border-slate-300">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>                                        
                                        <td class="border border-slate-300 text-center">Test</td>
                                        <td class="border border-slate-300 text-center">Test</td>                                        
                                        <td class="border border-slate-300 text-center">Test</td>
                                        <td class="border border-slate-300 text-center">
                                            <div class="flex justify-center items-center">
                                                <span
                                                    class="flex items-center shrink-0 min-w-4 w-8 h-8 px-1 my-1 rounded-full bg-primary-500"
                                                >
                                                <mat-icon
                                                    title="Ver"
                                                    svgIcon="heroicons_mini:eye"
                                                    style="
                                                            color: rgba(
                                                                255,
                                                                255,
                                                                255,
                                                                0.938
                                                            ) !important;
                                                            cursor: pointer;
                                                        "      
                                                ></mat-icon>                                                    
                                                </span>
                                            </div>  
                                        </td>
                                    </tr>
                                </tbody>
                            </table>                            
                        </div>


                    </div>                        

                </div>
                <!-- end card -->



                <!-- Slide  -->
                <!-- <section class="example-section mt-5">                    
                        <mat-slide-toggle
                            [formControlName]="'estatus'"
                            class="example-margin"
                            [(ngModel)]="isChecked"
                            [color]="color"                        
                            [checked]="checked"
                            [disabled]="disabled">
                            Activar/Desactivar
                        </mat-slide-toggle>
                    </section> -->


                <!-- Botones -->
                <div class="flex flex-row space-x-1 mt-3 mt-1.5 justify-end">

                    <button mat-flat-button w-full color="primary" (click)="cancel()">
                        Cancelar
                    </button>

                    <button mat-flat-button w-full color="primary" (click)="createCategories()">
                        Guardar
                    </button>

                    <button mat-flat-button w-full color="primary" (click)="createCategories()">
                        Reservar
                    </button>

                </div>

            </form>

        </div>    
    
</div>